DEPLOY_HOST=47.94.88.161
DEPLOY_PORT=22
DEPLOY_USER=root
DEPLOY_PASSWORD=TcfAllo@)@^)$#)

DB_HOST=47.92.55.242
DB_PORT=3306
DB_NAME=allo
DB_USER=allotcf_app
DB_PASSWORD=tcftcf123456

JWT_SECRET=8lYMf7nWuNLEd2+PB0uH555CHHjChmpWTkge94uzddi2h6urF5RND5KrAmG10Xk2

REMOTE_FRONTEND_DIR=/var/www/allotcf
REMOTE_BACKEND_DIR=/opt/allotcf/backend
REMOTE_APP_CONFIG=/etc/allotcf/application-prod.yml
REMOTE_SYSTEMD_FILE=/etc/systemd/system/allotcf.service
REMOTE_NGINX_FILE=/etc/nginx/conf.d/allotcf.conf

APP_PORT=8080
ENABLE_HTTPS=true
TLS_CERT_PATH=/etc/nginx/ssl/allotcf/fullchain.pem
TLS_KEY_PATH=/etc/nginx/ssl/allotcf/privkey.pem
PUBLIC_BASE_URL=https://www.allotcf.com
SERVER_NAMES=allotcf.com www.allotcf.com
